################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SnesClassicSram/v15
/SnesClassicSram/bin/Debug
/SnesClassicSram/obj/Debug
